/** {
    border: 1px solid red !important;
}*/

.dashboard {
	width:1200px;
	height:765px;
	/*background-color: black;*/
	margin: auto;

}
/*.sidebar {
	width: 280px;
	height: 640px;
	background-color: green;
	display: flex;
}*/
.header {
	width: 1200px;
	height: 100px;
	/*background-color: blue;*/
}
.checkbox {
	display: inline-block;
	padding-right: 10px;
  	padding-left: 22px;
}
.weekdayForm {
    position: relative;
    width: 1000px;
    height: 25px;
    left:75px;
    /*border: 3px solid #73AD21;*/
}
.timeBlock {
	position:relative;
	width:1100px;
	height:75px;
	left:75px;
	/*z-index: 1;*/
	/*display:inline-block;*/
}
.textHour {
	width:150px;
	height:75px;
	float: left;
}
/*.weekdays label {
  display: block;
  float: left;
  padding-right: 10px;
  padding-left: 22px;
  text-indent: -22px;
  vertical-align: middle;
}
.weekdays input {
  vertical-align: middle;
}
.weekdays label span {
  vertical-align: middle;
}*/
.body {
	width:1200px;
	height:640px;
	display: flex;
}
.geoplot {
	width: 600px;
	height: 640px;
	display: flex;
}
.plots {
	width: 320px;
	height: 640px;
	background-color: white;
	z-index: 1;
}
.plot1 {
	width: 400px;
	height: 320px;
	/*background-color: red;*/
}
.plot2 {
	width: 400px;
	height: 320px;
	/*background-color: yellow;*/
}
.sidebar {
	width: 200px;
	height: 640px;
	background-color: white;
	z-index: 1;
}
.options {
	width: 200px;
	height: 320px;
	/*background-color: red;*/
}
.description {
	width: 200px;
	height: 320px;
	/*background-color: yellow;*/
}

.pathRect:hover {
	fill: orange;
}
.startLabel {
	fill:#7FFF00;
	font-size: 10px;
}
.endLabel {
	fill:red;
	font-size: 10px;
}
.uncolorL {
	opacity: .2;
}
.uncolor {
	opacity:.2;
	stroke:black;
}
.selectedL {
	opacity:1;
	stroke:black;
}
.selected {
	opacity:1;
	stroke:black;
}
circle:hover {
	opacity:1;
}
.circle {
	opacity: .5;
	stroke:black;
	/*fill:blue;*/
}
.focus circle {
  fill: none;
  stroke: steelblue;
}
.overlay {
  fill: none;
  pointer-events: all;
}
.legendCircle {
  /*fill:white;*/
  stroke:black;
  /*opacity:0.8;*/
}
.legCircle {
	stroke:black;
	opacity:.5;
}
.legend {
	width:100px;
	height:102px;
	fill:white;
	opacity: .8;
	stroke:black;
}
.d3-tip {
  line-height: 1;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

/*#tooltip {
	position: absolute;
	width: 200px;
	height: auto;
	padding: 10px;
	background-color: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	pointer-events: none;
}*/

#pathLine.hidden {
	display: none;
}

#pathLine.show {
	opacity:.7;
	stroke:black;
}

#tooltip.hidden {
	display: none;
}

#tooltip p {
	margin: 0;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 20px;
}