<!DOCTYPE HTML>
<html>
<meta charset="utf-8">
<title>Data Lab Project</title>
<script src="https://d3js.org/d3.v4.min.js"> </script>
<head>
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<div id="tooltip" class="hidden">
	<p><strong>Path Information</strong></p>
	<p><span id="value">100</span>%</p>
</div>

<div class="dashboard">
	<div class="header">
		<p> Enter the values in the fields below!</p>
		<form>
			hour is = <input id="Hour" type="text" name="Hour" value=0>
			Weekday is = <input id="Weekday" type="text" name="Weekday" value=0>
			Building is = <input id="Building" type="text" name="Building" value="Enter Building">
			<input name="update" type="Update" value="Update" onclick="updateData()">
		</form>
	</div>
	<div class="body">
		<div class="sidebar">This is the sidebar</div>
		<div class="geoplot">This is a geoplot</div>
		<div class="plots">
			<div class="plot1">Plot1</div>
			<div class="plot2">Plot2</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	
	//Width and height
	var w = 600;
	var h = 250;
	var margin = { left: 90, top: 30, right: 30, bottom: 30 };
	var barPadding = .05;
	var yColumn = "count";
	var xColumn = "end";

	//Inner SVG dimensions
	var innerWidth  = w  - margin.left - margin.right;
	var innerHeight = h - margin.top  - margin.bottom;

	var initialized = 0;

	var xScale = d3.scaleBand()
					//.domain(d3.range(dataset.length))
					.range([0, innerWidth], barPadding)
					.padding(barPadding);

	var yScale = d3.scaleLinear()
					//.domain([0, d3.max(dataset)])
					.range([innerHeight, 0]);

	var cScale = d3.scaleLinear()
					.range([50, 250]);
	
	//Create SVG element
	var svg = d3.select("body")
				.append("svg")
				.attr("width", w)
				.attr("height", h);

	//Appending group to svg
	var g = svg.append("g")
	.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

	//Adding x-axis to new group and translating axis
	var xAxisG = g.append("g")
	.attr("transform", "translate(0," + innerHeight + ")");

	//Adding y-axis to new group but setting no attributes
	var yAxisG = g.append("g");

	//x and y axis
	var xAxis = d3.axisBottom(xScale);
	var yAxis = d3.axisLeft(yScale);

	//Create bars
	function render(data){

		initialized = 1;

		yScale.domain([0, d3.max(data, function (d){ return d[yColumn]; })]);
		xScale.domain(data.map( function (d){ return d[xColumn]; }));
		cScale.domain([d3.min(data, function (d){ return d[yColumn]; }), d3.max(data, function (d){ return d[yColumn]; })]);

		xAxisG.call(xAxis);
		yAxisG.call(yAxis);

		var bars = g.selectAll("rect")
		   .data(data)
		   .enter()
		   .append("rect")
		   .attr("x", function(d) {
		   		return xScale(d[xColumn]);
		   })
		   .attr("y", function(d) {
		   		return yScale(d[yColumn]);
		   })
		   .attr("width", xScale.bandwidth())
		   .attr("height", function(d) {
		   		return innerHeight - yScale(d[yColumn]);
		   })
		   .attr("fill", function(d) {
		   		console.log(cScale(d[yColumn]));
				return "rgb(0, 0, " + (Math.round(cScale(d[yColumn]))) + ")";
		   })
		   .on("mouseover", function(d) {

				//Get this bar's x/y values, then augment for the tooltip
				var xPosition = parseFloat(d3.select(this).attr("x")) + xScale.bandwidth() / 2;
				var yPosition = parseFloat(d3.select(this).attr("y")) / 2 + h / 2;

				//Update the tooltip position and value
				d3.select("#tooltip")
					.style("left", xPosition + "px")
					.style("top", yPosition + "px")						
					.select("#value")
					.text("There are "+d.count+" people going to "+d.end);
		   
				//Show the tooltip
				d3.select("#tooltip").classed("hidden", false);

		   })
		   .on("mouseout", function() {
		   
				//Hide the tooltip
				d3.select("#tooltip").classed("hidden", true);
				
		   });

		   //bars.exit().remove();
	}
	function type(data) {
		//console.log(data);
		data.forEach(function(d){
			d.count = +d.count;
		});
		render(data);
	}
	function update(data){
		console.log("UPDATING NOW!");
		data.forEach(function(d){
			d.count = +d.count;
		});

		yScale.domain([0, d3.max(data, function (d){ return d[yColumn]; })]);
		xScale.domain(data.map( function (d){ return d[xColumn]; }));
		cScale.domain([d3.min(data, function (d){ return d[yColumn]; }), d3.max(data, function (d){ return d[yColumn]; })]);

		xAxisG.call(xAxis);
		yAxisG.call(yAxis);

		g.selectAll("rect")
		   .data(data)
		   .transition()
		   .attr("x", function(d) {
		   		return xScale(d[xColumn]);
		   })
		   .attr("y", function(d) {
		   		return yScale(d[yColumn]);
		   })
		   .attr("width", xScale.bandwidth())
		   .attr("height", function(d) {
		   		return innerHeight - yScale(d[yColumn]);
		   })
		   .attr("fill", function(d) {
		   		console.log(cScale(d[yColumn]));
				return "rgb(0, 0, " + (Math.round(cScale(d[yColumn]))) + ")";
		   });

	}
	function updateData(){

			var Hour = d3.select("#Hour").property("value");
			var Weekday = d3.select("#Weekday").property("value");
			var Building = d3.select("#Building").property("value");
			console.log("HOUR IS: "+Hour+" WEEKDAY IS: "+Weekday+" BUILDING IS: "+Building);

			if (initialized==0){
				d3.json("/api/wifi?Hour="+Hour+"&Weekday="+Weekday+"&Building="+Building, type);
			}
			else{
				d3.json("/api/wifi?Hour="+Hour+"&Weekday="+Weekday+"&Building="+Building, update);
			}
	}
	//Create labels
	/*svg.selectAll("text")
	   .data(dataset)
	   .enter()
	   .append("text")
	   .text(function(d) {
	   		return d;
	   })
	   .attr("text-anchor", "middle")
	   .attr("x", function(d, i) {
	   		return xScale(i) + xScale.bandwidth() / 2;
	   })
	   .attr("y", function(d) {
	   		return h - yScale(d) + 14;
	   })
	   .attr("font-family", "sans-serif")
	   .attr("font-size", "11px")
	   .attr("fill", "white");*/

	//d3.json("sample.json", type);

	//On submit, update with new data			
	/*d3.select("form")
		.on("submit", function() {
			console.log('SUBMITTED!');

			if (initialized==0){
				d3.json("/api/wifi?Hour="+Hour+"&Weekday="+Weekday+"&Building="+Building, type);
			}
			console.log("ARE YOU MAKING IT HERE!?");
			//else{
			//	d3.json("/api/wifi?Hour={{Hour}}&Weekday={{Weekday}}&Building={{Building}}", update);
			//}
		});*/

	//{% if Hour %}
	//	d3.json("/api/wifi?Hour={{Hour}}&Weekday={{Weekday}}&Building={{Building}}", type);
	//{% endif %}
</script>

</body>

</html>