<!DOCTYPE HTML>
<html>
<meta charset="utf-8">
<title>Data Lab Project</title>
<script src="https://d3js.org/d3.v4.min.js"> </script>
<script src="static/js/noUiSlider.9.2.0/nouislider.min.js"></script>
<script src="static/js/pathChart.js" type="text/javascript"></script>
<script src="static/js/hourLineChart.js" type="text/javascript"></script>
<script src="static/js/heatMap.js" type="text/javascript"></script>
<head>
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<link rel="stylesheet" type="text/css" href="static/css/nouislider.min.css">
</head>

<div id="tooltip" class="hidden">
	<p><strong>Path Information</strong></p>
	<p><span id="value">100</span>%</p>
</div>

<a href="https://github.com/cwb35/Data_Lab"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

<div class="dashboard">
	<div class="header">
		<form class="weekdayForm"> 
			Select Weekdays:
			<div class="checkbox"> Monday <input id="Monday" type="checkbox" name="Monday" value="Monday" checked="checked"></div>
			<div class="checkbox"> Tuesday <input id="Tuesday" type="checkbox" name="Tuesday" value="Tuesday"></div>
			<div class="checkbox"> Wednesday <input id="Wednesday" type="checkbox" name="Wednesday" value="Wednesday"></div>
			<div class="checkbox"> Thursday <input id="Thursday" type="checkbox" name="Thursday" value="Thursday"></div>
			<div class="checkbox"> Friday <input id="Friday" type="checkbox" name="Friday" value="Friday"></div>
			<div class="checkbox"> Saturday <input id="Saturday" type="checkbox" name="Saturday" value="Saturday"></div>
			<div class="checkbox"> Sunday <input id="Sunday" type="checkbox" name="Sunday" value="Sunday"></div>
			<input name="update" type="Button" value="Update!" onclick="updateData()">
		</form>
		<div class='timeBlock'>
			<div class="textHour"> Select Hour Range: </div>
			<div id="slider"></div>
		</div>
	</div>
	<div class="body">
		<div class="sidebar">
			<div class="options"></div>
			<div class="description"></div>
		</div>

		<div class="geoplot">
			<svg  id="campussvg" width="600px" height="620px" x="0" y="0">
  			</svg>
		</div>
		<div class="plots">
			<div id="plot1" class="plot1"></div>
			<div id = "plot2" class="plot2">
				<div id="tooltip" class="hidden">
					<p><strong>Path Information</strong></p>
					<p><span id="value">100</span>%</p>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

/** INSERT BUILDING TABLE **/

	var slider = document.getElementById('slider');
	slider.style.width = '800px';
	slider.style.height = '5px';
	slider.style.float = 'left';
	slider.style.margin = '0px auto 60px';

	noUiSlider.create(slider, {
		start: [0, 8],
		connect: true,
		//direction: 'rtl',
		behaviour: 'tap-drag',
		step: 1,
		range: {
			'min': 0,
			'max': 23
		},
		pips: { // Show a scale with the slider
			mode: 'steps',
			stepped: true,
			density: 4
		}
	});
	
	var initialized = 0;

	var building_table = d3.map();
	function lookupTable(data) {
		//console.log(data);
		data.forEach(function(d){
			building_table = building_table.set(d.building_names, [d.longitude, d.latitude, d.building_type]);
		});
	}

	d3.json("/api/building_coords", lookupTable);

	var latitudeScale = d3.scaleLinear().range([0, 620]);//h]);
  	var longitudeScale = d3.scaleLinear().range([0, 600]);//w]);

  	var lineData = [];

  	var origData = [];

  	var selectedBuilding = "None";

	function type(data) {
		console.log("AT TYPE!", data);
		console.log("Buildings:", data[0]["Buildings"]);
		data[0]["Buildings"].forEach(function(d){
			d.Count = +d.Count;
			console.log(d.Building + " " + d.Count);
		});
		data[0]["Time"].forEach(function(d){
			d.Count = +d.Count;
		});
		data[0]["Paths"].forEach(function(d){
			d.count = +d.count;
		});
		origData = data;
		pathBarChart(data[0]["Paths"]);
		hourScatterPlot(data[0]["Time"]);
		heatMap(data[0]["Buildings"]);
	}
	function updateCharts(data) {
		console.log("Update chart data:");
		console.log(data);
		updateLineChart(data[0]['Time']);
		updatePathChart(data[0]['Paths']);
		updateHeatMap(data[0]['Buildings']);
	}

	function newQuery(data) {
		origData = data;

		//Makes sure nothing is selected when query runs
		if (selectedBuilding != "None"){

   			d3.selectAll(".uncolor")
	   			.attr("class", "circle");
	   		d3.selectAll(".selected")
	   			.attr("class", "circle");
	   		selectedBuilding = "None";
		}
		updateCharts(data);
	}

	function updateData(){

			var startHour = parseInt(slider.noUiSlider.get()[0]);
			//var startHour = d3.select("#startHour").property("value");
			var endHour = parseInt(slider.noUiSlider.get()[1]) + 1;//1 + parseInt(d3.select("#endHour").property("value"));
			console.log("startHour: " + startHour)
			console.log("endHour: " + endHour)
			console.log("newRange: " + d3.range(startHour, endHour))
			var Hour = d3.range(startHour, endHour)

			var Weekday_array = [];
			d3.select(".weekdayForm").selectAll("input")._groups[0].forEach(function(d, i){
				
				if(d.checked == true){
					Weekday_array.push(i);
				}
			});

			if (initialized==0){
				initialized = 1;
				//Creating image of campus
				d3.select("#campussvg").append("image")
					.attr("xlink:href", "static/images/campus_map.png")
					.attr("x", "0")
					.attr("y", "0")
					.attr("height", "620px")
					.attr("width", "600px");
				//Appending Path line	
				d3.select("#campussvg").append("line")
		  			.attr("id", "pathLine")
		  			.attr("class", "hidden")
		  			.attr("x1", "0")
		  			.attr("x2", "100")
		  			.attr("y1", "0")
		  			.attr("y2", "0")
		  			.attr("stroke-width", "3")
		  			.attr("stroke", "black");
				
				d3.json("/api/all?Hour="+Hour.toString()+"&Weekday="+Weekday_array, type);//+"&Building="+Building, type);
			} else {
				d3.json("/api/all?Hour="+Hour.toString()+"&Weekday="+Weekday_array, newQuery);//updateCharts);
			}
	}    

	function inspectBuilding(data){

		console.log("Before updating");
		updateLineChart(data[0]['Time']);
		updatePathChart(data[0]['Paths']);
		console.log("After updating");
	}
    </script>

</body>

</html>